<div class="flex-container">
  <div class="flex-container__box-1">
    <h3>OFTEN</h3>
    <br>
    <h6>MAIN</h6>
    <hr>
    <a href="#" ><img class="logos" src="https://www.sketchuptextureclub.com/public/texture_d/0042-plain-color-floor-tiles-white-grout-line-cm-50x50-texture-seamless-hr.jpg"> HOME</a>
    <br><br>
    <a href="#" ><img class="logos" src="https://ae01.alicdn.com/kf/HTB1Fb0uLXXXXXXRXpXXq6xXFXXXg/W-Wallpaper-solid-color-wallpaper-plain-wallpaper-Dark-13509-gray.jpg"> CRICKETERS</a>
    <br><br>
    <a href="#" ><img class="logos" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTP4tNt_8vdqDQDMqKkB4eyzoqxwYV2GnEDLuoPUhUDA1PeI2WD4Q"> CENTURIES</a>
    <br><br>
    <a href="#" ><img class="logos" src="https://ih1.redbubble.net/image.337839097.8855/flat,800x800,070,f.jpg"> HALF-CENTURIES</a>
    <br><br>
    <a href="#" ><img class="logos" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrbuGkFScMESWeosHIVdzlzMkYu1BZ7wLjBDkZT9zfJGlHzzHSDQ"> WICKETS</a>
    <br><br><br>
    <h6>RECENT ACTIVITY</h6><hr>
    <h5><img class="pics" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTugLHYZ4JJFZM6o3t4pK2ByAPDfsKlODYMNhw_Sz9SQAdzfFmo"> Rohit sharma</h5>
    <p class="msg">Yesterday,it was a great match with South africa.</p><br>
     <h6>5:30PM</h6>
     <br>
     <h5><img class="pics" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlXx5rEsImc1yQ9CDWTb3dnkuzbmXjsVY2YF47NmyNK1fprPCo"> VIrat Kohli</h5>
     <p class="msg">Yaa ! it's really an awesome match.Lets party Hard.</p><br>
     <h6>5:35PM</h6>
  </div>
  <div class="flex-container__box-2">
    <div class="navbar-navbar-header">
     <h3>Cricketers</h3>
       <a href="#">All</a>
       <a href="#">Featured</a>
       <a href="#">Top</a>
       <button class="btn btn-success">Select Cricketer</button>
       <button class="btn">Search</button>
       <hr>
  </div>
  <p>TOP BATSMANS</p>
  <div class="flex-box">
  <div class="flex-box__image"><img src="http://p.imgci.com/db/PICTURES/CMS/263600/263697.20.jpg" width=133>
    <p>Virat Kohli</p>
  </div>
    <div class="flex-box__image"><img src="https://image3.mouthshut.com/images/imagesp/925047044s.jpeg" width=155>
    <p>M S Dohni</p>
  </div>
    <div class="flex-box__image"><img src="http://i.cricketcb.com/stats/img/faceImages/25.jpg" width=162>
    <p>Sachin</p>
  </div>  
    <div class="flex-box__image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0tEGXaC4P7C6OkUAme4oFZguQEakJtuxsEs6rgQoxbpk1G_GB" width=163>
    <p>Rohit sharma</p></div>
  <div class="flex-box__image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-SxIVbLFDnuKu5ZBZrby3fG2P_p5prc5B5JqQwmmQu_CBQiTO"width=155>
  <p>Shikhar Dhawan</p></div>
  </div>
  <p>TOP BOWLERS</p>
  <div class="flex-box">
    <div class="flex-box__image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmpawq_MIWLv_zI4OKjDPst55lTCvPCnT87Vcc2lVtMzMozJCL0A" width=170>
    <p>Bhuvneshwar</p></div>
  <div class="flex-box__image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbkFHKCibavEuabBmAC6SBUOV3wR3rTeaAuF-k7B3J09SVYbgf" width="140">
  <p>Bumrah</p></div>
  <div class="flex-box__image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmkmuvuuKWdJpPqHscDcOn5dkNJmMZD4jL9ESDi_xJJz8BjI2r" width="140">
  <p>Ashwin</p></div>
  <div class="flex-box__image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwtDSH0shu2sA6uN_YyYEM0uRXFC-azbvP8Hz3ASBMqtTmoCMk" width=165>
  <p>Ashish Nehra</p></div>
  <div class="flex-box__image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIld_znC8gN7DAGPBILT7gPmY8nEMtjg3jiHr02ZhJHUw9dtzl" width="140">
  <p>Jadeja</p></div>
  </div>
</div>
</div>