$font-color:black;
$bg-color:#f1f1f1;
$v1: 30px;
$v2: 17px;
$v3: 15px;
$v4: 40px;
$mar: 2px;
$pad: 20px;
$box: flex;
$m1: 10px;
$d1: right;
$d2: left;
$h-w: 850px;
$m2: 5px;
$br: 7px;
$br1: 110px;
$txt-ali:center;
$font-fmly: sans-serif;
$f1:2;
$f2:0.5;
$per:10%;